<div class="container-fluid">
  <%= form_with url: "/api/forecast", method: :get, id: "address-form" do |form| %>
    <%= form.label :address, "Address:" %>
    <%= form.text_field :address %>
    <%= form.submit "Get Forecast" %>
  <% end %>

  <div>Location&nbsp;<span id="location"></span></div>
  <div>Updated At&nbsp;<span id="updated-at"></span></div>
  <div>Current Temperature&nbsp;<span id="current-temp"></span></div>
  <div>Short Term Forecast&nbsp;<span id="short-forecast"></span></div>
  <div>Chance of Rain&nbsp;<span id="rain-chance"></span></div>
  <div>Wind&nbsp;<span id="wind"></span></div>

  <div class="row" id="forecast-holder"></div>
</div>
